/*----------------------------------------*/
/*  7.3 Feature CSS
/*----------------------------------------*/
.tp-feature-item {
  padding: 29px 40px 25px;
  background-color: var(--tp-grey-1);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-feature-item {
    padding: 29px 25px 25px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-feature-item {
    padding: 29px 19px 25px;
  }
}
.tp-feature-icon span {
  display: inline-block;
  font-size: 24px;
  color: var(--tp-pink-1);
  min-width: 30px;
}
.tp-feature-title {
  font-size: 16px;
  margin-bottom: 0;
}
.tp-feature-content p {
  font-size: 14px;
  margin-bottom: 0;
}
.tp-feature-border-radius .row [class*=col-]:first-child .tp-feature-item {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.tp-feature-border-radius .row [class*=col-]:last-child .tp-feature-item {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tp-feature-border-2 .row [class*=col-] .tp-feature-item-2 {
  position: relative;
}
@media (max-width: 575px) {
  .tp-feature-border-2 .row [class*=col-] .tp-feature-item-2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
.tp-feature-border-2 .row [class*=col-] .tp-feature-item-2::after {
  position: absolute;
  content: "";
  right: 14px;
  top: 42%;
  width: 1px;
  height: 50px;
  background-color: #D9DBDE;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-feature-border-2 .row [class*=col-] .tp-feature-item-2::after {
    display: none;
  }
}
@media (max-width: 575px) {
  .tp-feature-border-2 .row [class*=col-]:last-child .tp-feature-item-2 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.tp-feature-border-2 .row [class*=col-]:last-child .tp-feature-item-2::after {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tp-feature-border-2 .row [class*=col-]:nth-child(1) .tp-feature-item-2, .tp-feature-border-2 .row [class*=col-]:nth-child(2) .tp-feature-item-2, .tp-feature-border-2 .row [class*=col-]:nth-child(3) .tp-feature-item-2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .tp-feature-border-2 .row [class*=col-]:nth-child(1) .tp-feature-item-2::after, .tp-feature-border-2 .row [class*=col-]:nth-child(2) .tp-feature-item-2::after, .tp-feature-border-2 .row [class*=col-]:nth-child(3) .tp-feature-item-2::after {
    right: auto;
    left: 0;
    top: auto;
    bottom: 0;
    width: 85%;
    height: 1px;
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-feature-border-2 .row [class*=col-]:nth-child(3) .tp-feature-item-2 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-feature-border-2 .row [class*=col-]:nth-child(3) .tp-feature-item-2::after {
    display: none;
  }
}
.tp-feature-inner-2 {
  background: var(--tp-common-white);
  border: 1px solid #E9EAEC;
  padding: 30px 40px 23px;
}
.tp-feature-title-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--tp-common-black);
  margin-bottom: 2px;
  line-height: 1;
}
.tp-feature-icon-2 span {
  font-size: 35px;
  color: var(--tp-common-black);
}
.tp-feature-content-2 p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.3;
}

.tp-feature-style-2 .tp-feature-inner-2 {
  padding: 0;
  border: 0;
}
.tp-feature-style-2 .tp-feature-icon-2 span {
  color: var(--tp-theme-brown);
}
.tp-feature-style-2 .tp-feature-title-2 {
  margin-bottom: 4px;
}
.tp-feature-border-3 .tp-feature-item-2 {
  position: relative;
}
.tp-feature-border-3 .tp-feature-item-2:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -42%;
  top: 42%;
  width: 1px;
  height: 50px;
  background-color: #E9EAED;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-feature-border-3 .tp-feature-item-2:not(:last-child)::after {
    right: -20%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tp-feature-border-3 .tp-feature-item-2:not(:last-child)::after {
    display: none;
  }
}

.tp-feature-border-5 .row [class*=col-] .tp-feature-item-5 {
  position: relative;
}
@media (max-width: 575px) {
  .tp-feature-border-5 .row [class*=col-] .tp-feature-item-5 {
    margin-bottom: 20px;
  }
}
.tp-feature-border-5 .row [class*=col-] .tp-feature-item-5::after {
  position: absolute;
  content: "";
  right: 14px;
  top: 42%;
  width: 1px;
  height: 50px;
  background-color: #EAEBED;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tp-feature-border-5 .row [class*=col-] .tp-feature-item-5::after {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-feature-border-5 .row [class*=col-]:nth-child(1), .tp-feature-border-5 .row [class*=col-]:nth-child(2) {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .tp-feature-border-5 .row [class*=col-]:last-child .tp-feature-item-5 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.tp-feature-border-5 .row [class*=col-]:last-child .tp-feature-item-5::after {
  display: none;
}
.tp-feature-inner-5 {
  padding: 24px 43px;
  border: 2px solid #EAEBED;
  border-radius: 16px;
}
.tp-feature-title-5 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
}
.tp-feature-icon-5 span {
  font-size: 22px;
  color: var(--tp-theme-green);
  margin-right: 10px;
}
