/*----------------------------------------*/
/*  2.11 Breadcrumb
/*----------------------------------------*/
.breadcrumb__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1;
  margin-bottom: 6px;
}
.breadcrumb__title-pre {
  display: inline-block;
  height: 24px;
  line-height: 26px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  background: var(--tp-theme-primary);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 7px;
  margin-bottom: 12px;
}
.breadcrumb__list span {
  font-weight: 400;
  font-size: 16px;
  position: relative;
}
.breadcrumb__list span:not(:last-child) {
  padding-right: 12px;
  margin-right: 5px;
}
.breadcrumb__list span:not(:last-child)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: #A8ACB0;
  border-radius: 50%;
}
.breadcrumb__list span a:hover {
  color: var(--tp-theme-primary);
}
.breadcrumb__overlay {
  position: relative;
}
.breadcrumb__overlay::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 15, 28, 0.5);
}
.breadcrumb__style-2 .breadcrumb__list span:last-child {
  color: var(--tp-common-black);
}
.breadcrumb__style-2 .breadcrumb__list span.breadcrumb-icon {
  padding-right: 0;
  margin-right: 0;
}
.breadcrumb__style-2 .breadcrumb__list span.breadcrumb-icon svg {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}
.breadcrumb__style-2 .breadcrumb__list.has-icon span:nth-child(1)::after {
  display: none;
}
.breadcrumb__style-3 .breadcrumb__title {
  color: var(--tp-common-white);
}
.breadcrumb__style-3 .breadcrumb__list span {
  color: var(--tp-common-white);
}
.breadcrumb__style-3 .breadcrumb__list span:last-child {
  color: rgba(255, 255, 255, 0.8);
}
.breadcrumb__style-3 .breadcrumb__list span:not(:last-child)::after {
  background-color: var(--tp-common-white);
}
.breadcrumb__style-3 .breadcrumb__list span.breadcrumb-icon {
  padding-right: 0;
  margin-right: 0;
}
.breadcrumb__style-3 .breadcrumb__list span.breadcrumb-icon svg {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}
.breadcrumb__style-3 .breadcrumb__list span a:hover {
  color: var(--tp-common-white);
}
.breadcrumb__style-3 .breadcrumb__list.has-icon span:nth-child(1)::after {
  display: none;
}
