/*----------------------------------------*/
/*  2.13 Tab
/*----------------------------------------*/
.tp-tab .nav-tabs {
  padding: 0;
  margin: 0;
  border: 0;
}
.tp-tab .nav-tabs .nav-link {
  padding: 0;
  margin: 0;
  border: 0;
}

.tp-product-tab-2 .nav-tabs .nav-link {
  font-size: 20px;
  color: #A0A2A4;
  position: relative;
}
@media (max-width: 575px) {
  .tp-product-tab-2 .nav-tabs .nav-link {
    font-size: 15px;
  }
}
.tp-product-tab-2 .nav-tabs .nav-link:not(:first-child) {
  margin-left: 28px;
}
.tp-product-tab-2 .nav-tabs .nav-link:not(:first-child)::after {
  position: absolute;
  left: -17px;
  top: 50%;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #CED2D6;
}
.tp-product-tab-2 .nav-tabs .nav-link.active {
  color: var(--tp-theme-secondary);
}
.tp-product-tab-2 .nav-tabs .nav-link.active .tp-product-tab-tooltip {
  opacity: 1;
  visibility: visible;
}
.tp-product-tab-2 .nav-tabs .nav-link .tp-product-tab-tooltip {
  position: absolute;
  top: -24px;
  right: 0;
  background-color: var(--tp-theme-secondary);
  color: var(--tp-common-white);
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  padding: 4px 9px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  font-weight: 700;
}
.tp-product-tab-2 .nav-tabs .nav-link .tp-product-tab-tooltip::after {
  position: absolute;
  content: "";
  bottom: 0;
  bottom: -5px;
  left: 7px;
  width: 13px;
  height: 6px;
  background-color: var(--tp-theme-secondary);
  clip-path: polygon(100% 0, 0 0, 28% 100%);
}
.tp-product-tab-3 .nav-tabs .nav-link {
  font-size: 16px;
  padding: 0 0;
}
@media (max-width: 575px) {
  .tp-product-tab-3 .nav-tabs .nav-link {
    font-size: 15px;
  }
}
.tp-product-tab-3 .nav-tabs .nav-link:not(:first-child) {
  margin-left: 23px;
}
.tp-product-tab-3 .nav-tabs .nav-link:not(:first-child)::after {
  width: 4px;
  height: 4px;
  left: -14px;
}
.tp-product-tab-3 .nav-tabs .nav-link.active {
  color: var(--tp-common-black);
}
.tp-product-tab-3 .nav-tabs .nav-link.active .tp-product-tab-tooltip {
  opacity: 1;
  visibility: visible;
}
.tp-product-tab-3 .nav-tabs .nav-link .tp-product-tab-tooltip {
  background-color: var(--tp-theme-primary);
}
.tp-product-tab-3 .nav-tabs .nav-link .tp-product-tab-tooltip::after {
  background-color: var(--tp-theme-primary);
}
.tp-product-tab-5 .nav-tabs .nav-link {
  padding: 0 5px;
}
@media (max-width: 575px) {
  .tp-product-tab-5 .nav-tabs .nav-link {
    font-size: 15px;
  }
}
.tp-product-tab-5 .nav-tabs .nav-link:not(:last-child)::after {
  left: -15px;
}
.tp-product-tab-5 .nav-tabs .nav-link:not(:first-child) {
  margin-left: 22px;
}
.tp-product-tab-5 .nav-tabs .nav-link.active {
  color: var(--tp-common-black);
}
.tp-product-tab-5 .nav-tabs .nav-link.active .tp-product-tab-tooltip {
  opacity: 1;
  visibility: visible;
}
.tp-product-tab-5 .nav-tabs .nav-link .tp-product-tab-tooltip {
  background-color: var(--tp-theme-green);
}
.tp-product-tab-5 .nav-tabs .nav-link .tp-product-tab-tooltip::after {
  background-color: var(--tp-theme-green);
}

.tp-tab-line {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 38%;
  height: 2px;
  background-color: var(--tp-common-black);
}
