/*----------------------------------------*/
/*  2.2 Theme Settings
/*----------------------------------------*/
.tp-theme-settings-area {
  position: fixed;
  top: 50%;
  left: 0;
  width: 240px;
  background-color: #fff;
  border: 1px solid #EAEAEF;
  -webkit-transform: translateY(-50%) translateX(-100%);
  -moz-transform: translateY(-50%) translateX(-100%);
  -ms-transform: translateY(-50%) translateX(-100%);
  -o-transform: translateY(-50%) translateX(-100%);
  transform: translateY(-50%) translateX(-100%);
  z-index: 991;
  direction: ltr;
  border-bottom-right-radius: 4px;
}
.tp-theme-settings-area.settings-opened {
  -webkit-transform: translateY(-50%) translateX(0%);
  -moz-transform: translateY(-50%) translateX(0%);
  -ms-transform: translateY(-50%) translateX(0%);
  -o-transform: translateY(-50%) translateX(0%);
  transform: translateY(-50%) translateX(0%);
}
.tp-theme-settings-area.settings-opened .tp-theme-settings-gear {
  opacity: 0;
}
.tp-theme-settings-area.settings-opened .tp-theme-settings-close {
  opacity: 1;
}
.tp-theme-settings-open {
  position: absolute;
  top: -1px;
  left: 100%;
}
.tp-theme-settings-open button {
  background-color: var(--tp-common-white);
  border: 1px solid #EAEAEF;
  border-left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: var(--tp-common-black);
  position: relative;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tp-theme-settings-gear {
  display: inline-block;
  -webkit-animation: tp-theme-setting-spin 4s linear infinite;
  -moz-animation: tp-theme-setting-spin 4s linear infinite;
  -ms-animation: tp-theme-setting-spin 4s linear infinite;
  -o-animation: tp-theme-setting-spin 4s linear infinite;
  animation: tp-theme-setting-spin 4s linear infinite;
}
@-webkit-keyframes tp-theme-setting-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes tp-theme-setting-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes tp-theme-setting-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes tp-theme-setting-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.tp-theme-settings-close {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.tp-theme-header-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}
.tp-theme-wrapper {
  padding: 20px 30px 30px;
}
.tp-theme-toggle {
  text-align: center;
}
.tp-theme-toggle-main {
  display: inline-block;
  width: 160px;
  margin: auto;
  position: relative;
  z-index: 1;
  background-color: #f0f0f5;
  padding: 4px;
  border-radius: 20px;
}
.tp-theme-toggle-light, .tp-theme-toggle-dark {
  display: inline-block;
  width: 48%;
  height: 26px;
  line-height: 26px;
}
.tp-theme-toggle input {
  display: none;
}
.tp-theme-toggle:hover {
  cursor: pointer;
}
.tp-theme-toggle label {
  color: var(--tp-common-black);
  font-size: 14px;
  font-weight: 500;
}
.tp-theme-toggle label:hover {
  cursor: pointer;
}
.tp-theme-toggle #tp-theme-toggler {
  display: none;
}
.tp-theme-toggle #tp-theme-toggler:checked + i {
  right: calc(50% - 4px);
}
.tp-theme-toggle-slide {
  position: absolute;
  top: 50%;
  right: 4px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
  height: 26px;
  color: var(--tp-common-black);
  background-color: var(--tp-common-white);
  border-radius: 30px;
  -webkit-transform: translate3d(0, 0);
  transform: translate3d(0, 0);
  -webkit-transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  -moz-transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  -ms-transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  -o-transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: -1;
}
.tp-theme-dir {
  text-align: center;
}
.tp-theme-dir-main {
  display: inline-block;
  width: 160px;
  margin: auto;
  position: relative;
  z-index: 1;
  background-color: #f0f0f5;
  padding: 4px;
  border-radius: 20px;
}
.tp-theme-dir-ltr, .tp-theme-dir-rtl {
  display: inline-block;
  width: 48%;
  height: 26px;
  line-height: 26px;
}
.tp-theme-dir input {
  display: none;
}
.tp-theme-dir:hover {
  cursor: pointer;
}
.tp-theme-dir label {
  color: var(--tp-common-black);
  font-size: 14px;
  font-weight: 500;
}
.tp-theme-dir label:hover {
  cursor: pointer;
}
.tp-theme-dir #tp-dir-toggler {
  display: none;
}
.tp-theme-dir #tp-dir-toggler:checked + i {
  right: calc(50% - 4px);
}
.tp-theme-dir-slide {
  position: absolute;
  top: 50%;
  right: 4px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
  height: 26px;
  color: var(--tp-common-black);
  background-color: var(--tp-common-white);
  border-radius: 30px;
  -webkit-transform: translate3d(0, 0);
  transform: translate3d(0, 0);
  -webkit-transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  -moz-transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  -ms-transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  -o-transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 0.2s 0s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: -1;
}
.tp-theme-color-item.active button::before {
  opacity: 1;
  visibility: visible;
}
.tp-theme-color-btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
}
.tp-theme-color-btn::before {
  position: absolute;
  content: "\f00c";
  font-weight: 600;
  font-family: var(--tp-ff-fontawesome);
  color: var(--tp-common-white);
  font-size: 16px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s 0s ease-out;
  -moz-transition: all 0.3s 0s ease-out;
  -ms-transition: all 0.3s 0s ease-out;
  -o-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
  opacity: 0;
  visibility: hidden;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#F50963"] {
  background-color: #F50963;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#008080"] {
  background-color: #008080;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#F31E5E"] {
  background-color: #F31E5E;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#AB6C56"] {
  background-color: #AB6C56;
  color: black;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#4353FF"] {
  background-color: #4353FF;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#3661FC"] {
  background-color: #3661FC;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#2CAE76"] {
  background-color: #2CAE76;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#FF5A1B"] {
  background-color: #FF5A1B;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#03041C"] {
  background-color: #03041C;
}
.tp-theme-color-btn.tp-color-settings-btn[data-color="#ED212C"] {
  background-color: #ED212C;
}
.tp-theme-color-input {
  margin-top: 15px;
}
.tp-theme-color-input h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.tp-theme-color-input label {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--tp-theme-1);
  -webkit-transition: all 0.3s 0s ease-out;
  -moz-transition: all 0.3s 0s ease-out;
  -ms-transition: all 0.3s 0s ease-out;
  -o-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}
.tp-theme-color-input label:hover {
  cursor: pointer;
}
.tp-theme-color-input input {
  display: none;
}
