/*----------------------------------------*/
/*  8.10 Product Card Style 2 CSS
/*----------------------------------------*/
.tp-product-item-2:hover .tp-product-thumb-2 img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.tp-product-item-2:hover .tp-product-action-2 {
  left: 24px;
  visibility: visible;
  opacity: 1;
}
.tp-product-title-2 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2px;
}
.tp-product-title-2 a:hover {
  color: var(--tp-theme-secondary);
}
.tp-product-tag-2 a {
  font-size: 16px;
  position: relative;
  display: inline-block;
  line-height: 1;
}
.tp-product-tag-2 a::after {
  position: absolute;
  content: "";
  left: auto;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--tp-theme-secondary);
}
.tp-product-tag-2 a:hover {
  color: var(--tp-theme-secondary);
}
.tp-product-tag-2 a:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}
.tp-product-price-2 {
  font-weight: 500;
  font-size: 16px;
  color: var(--tp-common-black);
}
.tp-product-price-2.new-price {
  color: var(--tp-common-black);
}
.tp-product-price-2.old-price {
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: line-through;
  color: var(--tp-text-1);
}
.tp-product-rating-icon-2 {
  margin-bottom: 4px;
}
.tp-product-action-2 {
  position: absolute;
  left: 0;
  top: 57px;
  right: auto;
  bottom: auto;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 575px) {
  .tp-product-action-2 {
    top: 30px;
  }
}
.tp-product-action-blackStyle .tp-product-action-btn-2.active {
  background-color: var(--tp-common-black);
}
.tp-product-action-blackStyle .tp-product-action-btn-2:hover {
  background-color: var(--tp-common-black);
}
.tp-product-action-primaryStyle .tp-product-action-btn-3:hover {
  background-color: var(--tp-theme-primary);
}
.tp-product-action-btn-2 {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 18px;
  color: var(--tp-common-black);
  background-color: var(--tp-common-white);
  border-bottom: 0;
  box-shadow: 0px 1px 2px rgba(1, 15, 28, 0.2);
  border-radius: 50%;
  margin-bottom: 6px;
}
.tp-product-action-btn-2.active {
  color: var(--tp-common-white);
  background-color: var(--tp-common-black);
}
.tp-product-action-btn-2:hover {
  color: var(--tp-common-white);
  background-color: var(--tp-common-black);
}
.tp-product-action-btn-2:hover .tp-product-tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(8px) translateY(-50%);
  -moz-transform: translateX(8px) translateY(-50%);
  -ms-transform: translateX(8px) translateY(-50%);
  -o-transform: translateX(8px) translateY(-50%);
  transform: translateX(8px) translateY(-50%);
}
.tp-product-thumb-2 img {
  width: 100%;
  height: 100%;
}

.tp-product-item-2 .tp-product-thumb-2 {
  background-color: #F2F3F5;
}
.tp-product-item-2 .tp-product-thumb-2 a {
  display: block;
}
